.footer-head {
  background-color: rgb(204, 240, 241);
  display: flex;
  width: 100%;
  bottom: 0;
}
.footer-logo-display {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.box-2 {
  float: left;
  padding-left: 50px;
}
.box-3 {
  float: right;
  padding-left: 50px;
}
.box-4 {
  float: right;
  padding-left: 200px;
}

.footer-content1 li {
  list-style-type: disc;
}
.social-container {
  padding: 25px 50px;
}
a.youtube,
a.twitter-icon,
a.instagram-icon {
  margin: 0 1rem;
  transition: transform 250ms;
  float: right;
}
