
.home-img{
    height: 500px;
    margin-left: 200px;
    border: 25px;
    float: left;
    border: 3px solid yellow;
    border-radius: 3px;
    margin-right: 20px;

}
.icon-container{
   
    
   text-align: center;
    justify-content:space-evenly;
    margin-top: 90px;
 
}
.icons-img{

}
.icons{
    width: 60px;
    height: 60px;
}
.img-content{
    font-style: italic;
    padding: 100px 20px;
    background-color: antiquewhite;
}
.home-order-btn{
    cursor: pointer;
}
