.nav-header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(203, 240, 240);
  box-shadow: 5px 10px 8px #888888;
  position: fixed;
  width: 100%;
  top: 0;
  height: 75px;
} 

.nav-header :link {
  text-decoration: none;
}

.header-option {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(14, 13, 13);
  margin-top: 15px;
}
.header-basket {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header-logo {
  
  width: 90px;
  height: 60px;
  margin-top: 5px;
  border-radius: 10px;
 
}
